@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza Accueil";
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <a asp-page="MenuPizzas">Voir la carte</a>
    </div>

</body>
</html>
