@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza Accueil";
}

    <div class="main">
        <img src="~/images/main_logo.png" class="main_logo"/>
        <a asp-page="MenuPizzas">Voir la carte</a>
    </div>
